<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="../css/login.css">

</head>

<body>
    <div class="header">
        <h1 style="opacity: 0.6; word-wrap: break-word; width: 200px; font-weight: bold;">Expense Tracker</h1>
        <a href="" class="float" style="text-decoration: none; font-size: 20px;">Create Account</a>
    </div>
    <div class="box">
        <h2 style="color: white; font-size: 40px;">Login</h2>
        <input type="text" class="textbox" placeholder="Email" name="">
        <input type="password" class="textbox" placeholder="Password" name="">
        <form action="" ,method="POST">
            <button type="submit" class="submit">Sign In</button>
            <p style="color: white; font-size: 20px;">Or Login With</p>
        </form>
        <div style="display: flex; width: 25%; margin: auto;">
            <div class="logo"><i class="bi bi-google"></i></div>
            <div class="logo" ><i class="bi bi-facebook"></i></div>
        </div>
    </div>
</body>

</html>